<div class="dashboard-grid">
  <mat-card class="stat-card">
    <mat-card-title>Total Requests</mat-card-title>
    <mat-card-content>{{ totalRequests }}</mat-card-content>
  </mat-card>

  <mat-card class="stat-card">
    <mat-card-title>Total Citizens</mat-card-title>
    <mat-card-content>{{ totalCitizens }}</mat-card-content>
  </mat-card>

  <mat-card class="stat-card">
    <mat-card-title>Pending Requests</mat-card-title>
    <mat-card-content>{{ pendingRequests }}</mat-card-content>
  </mat-card>


  <mat-card class="stat-card">
    <mat-card-title>Approved Requests</mat-card-title>
    <mat-card-content>{{ approvedRequests }}</mat-card-content>
  </mat-card>

  <mat-card class="stat-card">
    <mat-card-title>Rejected Requests</mat-card-title>
    <mat-card-content>{{ rejectedRequests }}</mat-card-content>
  </mat-card>

  <mat-card class="stat-card">
    <mat-card-title>Avg Processing Time (days)</mat-card-title>
    <mat-card-content>{{ processingTimeAverage }}</mat-card-content>
  </mat-card>

</div>
