<div class="dashboard-container">
  <!-- Row for Charts -->
  <div class="chart-row">
    <mat-card class="chart-card">
      <mat-card-title>Column Chart</mat-card-title>
      <mat-card-content><app-column-chart></app-column-chart></mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-title>Radial Bar</mat-card-title>
      <mat-card-content><app-radial-bar></app-radial-bar></mat-card-content>
    </mat-card>
  </div>

  <!-- Grid for Stats -->
  <div class="stats-grid">
    <mat-card class="stat-card">
      <mat-card-title>Total Requests</mat-card-title>
      <mat-card-content>{{ totalRequests }}</mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Total Citizens</mat-card-title>
      <mat-card-content>{{ totalCitizens }}</mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Pending Requests</mat-card-title>
      <mat-card-content>{{ pendingRequests }}</mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Approved Requests</mat-card-title>
      <mat-card-content>{{ approvedRequests }}</mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Rejected Requests</mat-card-title>
      <mat-card-content>{{ rejectedRequests }}</mat-card-content>
    </mat-card>

    <mat-card class="stat-card">
      <mat-card-title>Total Generated Certificate</mat-card-title>
      <mat-card-content>{{ processingTimeAverage }}</mat-card-content>
    </mat-card>
  </div>
</div>
